*{
    margin: 0;
    padding: 0;

}

header{
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: darkcyan;

}

a{
    transition:all 0.5s ease;
    color: black;
}


ul{
    display: flex;
    list-style-type: none;
    margin-right: 100px;

}
.tab{
    margin-top: 30px;
    font-family: Georgia;
    color: white;

}

.ville{
    text-align: center;
    font-family: Impact;
    color: #B0413E;
}
footer{
    margin-top: 50px;
    background-color: darkcyan;
}
.title{
    margin-left:15px ;

}
.content{
    margin-left:15px ;

}
.picture{
    margin-left:15px ;

}
.date{
    margin-left:15px ;
    color: darkcyan;
}

.publish{
    margin-left:15px ;

}
.valider{
    color: darkcyan;
}


