*{
    margin: 0;
    padding: 0;

}

header{
    justify-content: space-between;
}
#logo{

}
ul{
    display: flex;
    list-style-type: none;

}
ul li{
    margin-top: 30px;
    font-family: Georgia;

}

.ville{
    margin-left: 500px;
}


