{% extends 'front/base.html.twig' %}

{% block title %} Article {%  endblock title %}

{% block body  %}
    {# Je créée mon fichier qui contiendra mon article #}

        <body class="container">
           <main class="container-fluid">
               <hr>
                <h2 class="ville">{{ article.title }} {{ article.category.title }}</h2>

                <p>{{ article.content }}</p>
               <div id="Bordeaux">
                <img  src="{{ article.picture }}" alt="" class="img-fluid">
               </div>
           </main>
        </body>

{% endblock body %}