{% extends 'admin/article/base.html.twig' %}

{% block title %} Articles {%  endblock title %}

{% block body  %}

    <body>
    <main>
        <h2>
            Créer un article :
        </h2>

        {{ form(formView) }}
    </main>

    </body>

{% endblock body %}